img {
    width: 8%;
}
.row{
	margin: 0;
}
#weather, #search-form, #results-info, #results-image, #contact-form {
	border: 1px solid black;
	height: 150px;
	line-height: 150px;
	text-align: center;
	margin-top: 15px;
}

#results-info2, #deals-image {
	border: 1px solid black;
	height: 150px;
	line-height: 150px;
	text-align: center;
} 
